<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bh.mall.dao.ISYSUserDAO">
	<resultMap id="sysuser_DB_Result" type="sysuser">
		<result column="user_id" property="userId" />
		<result column="kind" property="kind" />
		<result column="login_name" property="loginName" />		
		<result column="login_pwd" property="loginPwd" />	
		<result column="mobile" property="mobile" />	
		<result column="company_code" property="companyCode" />
		<result column="system_code" property="systemCode" />
		
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">			
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
			
			<if test="loginName != null and loginName != '' ">
				AND t.login_name = #{loginName}
			</if>
		
			
			
			<if test="loginPwd != null and loginPwd != '' ">
				AND t.login_pwd = #{loginPwd}
			</if>	
			
			
			<if test="mobile != null and mobile != '' ">
				AND t.mobile = #{mobile}
			</if>
			
			<if test="companyCode != null and companyCode != '' ">
				AND t.company_code = #{companyCode}
			</if>
			<if test="systemCode != null and systemCode != '' ">
				AND t.system_code = #{systemCode}
			</if>
			
			
		</trim>
	</sql>
	
	<insert id="insert_sysuser" parameterType="sysuser">
		INSERT INTO
		tbh_sysuser(
		user_id
		,login_name		
		,login_pwd
		,kind
		,mobile
		,company_code
		,system_code
		)
		VALUES(
		#{userId}
		,#{loginName}	
		,#{loginPwd}
	    ,#{kind}
	    ,#{mobile}
		,#{companyCode}
		,#{systemCode}
		)
	</insert>
	
	<select id="select_sysuser" parameterType="sysuser" resultMap="sysuser_DB_Result">
		SELECT
		t.user_id
		,t.login_name		
		,t.kind
		,t.mobile
		,t.company_code
		,t.system_code
		
		FROM
		tbh_sysuser t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>
	
	<select id="select_sysuser_count" parameterType="sysuser" resultType="java.lang.Long">
		SELECT count(1) FROM tbh_sysuser t 
		<include refid="where_condition"/>
	</select>
	
	<update id="update_sysuser" parameterType="sysuser">
		UPDATE tbh_sysuser
		SET
		login_name = #{loginName}	
		,login_pwd = #{loginPwd}
		,kind = #{kind}
		,t.mobile = #{mobile}
		,company_code = #{companyCode}
		,system_code = #{systemCode}
		WHERE user_id = #{userId}
	</update>
	
	<update id="update_login_pwd" parameterType="sysuser">
		UPDATE tbh_sysuser
		SET
		 login_pwd = #{loginPwd}
		WHERE
		user_id = #{userId}	
	</update>
	
		
	<update id="update_sysuser_loginName" parameterType="sysuser">
		UPDATE tbh_sysuser
		SET
		login_name = #{loginName}
		WHERE
		user_id = #{userId}	
	</update>
	
	<update id="update_mobile" parameterType="sysuser">
		UPDATE tbh_sysuser
		SET
		mobile = #{mobile}
		WHERE user_id = #{userId}
	</update>
	
	<!-- 审核通过授权 -->
	
	<!-- 审核通过升级 -->
</mapper>