<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bh.mall.dao.IUpLevelApplyDAO">
	<resultMap id="uplevelApply_DB_Result" type="uplevelApply">
		<result column="code" property="code" />
		<result column="apply_user" property="applyUser" />
		<result column="apply_level" property="applyLevel" />
		<result column="apply_datetime" property="applyDatetime" />
		<result column="re_number" property="reNumber" />
		<result column="pay_amount" property="payAmount" />
		<result column="pay_pdf" property="payPdf" />
		<result column="status" property="status" />
		<result column="approver" property="approver" />
		<result column="approve_datetime" property="approveDatetime" />
		<result column="impower_datetime" property="impowerDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
		
			
			<if test="applyUser != null and applyUser != '' ">
				AND t.apply_user = #{applyUser}
			</if>
			
			<if test="approver != null and approver != '' ">
				AND t.approver = #{approver}
			</if>
			
	
			<choose>
				<when test="status == '6,8,12' "> <!-- 待审核授权，申请取消授权， 升级申请-->
					AND t.status = '6' OR t.status = '8' 
				</when>
				<otherwise>
					AND 1=1
				</otherwise>
			</choose>
			

			<if test="applyLevel != null and applyLevel != '' ">
				AND t.apply_level = #{applyLevel}
			</if>
			
					
			<if test="reNumber != null and reNumber != '' ">
				AND u.re_number = #{reNumber}
			</if>
			<if test="applyDatetimeStart != null and applyDatetimeStart != '' ">
				<![CDATA[AND t.apply_datetime >= #{applyDatetimeStart}]]>
			</if>
			<if test="applyDatetimeEnd != null and applyDatetimeEnd != '' ">
				<![CDATA[AND t.apply_datetime <= #{applyDatetimeEnd}]]>
			</if>
			
			<if test="approveDatetimeStart != null and approveDatetimeStart != '' ">
				<![CDATA[AND t.approve_datetime >= #{approveDatetimeStart}]]>
			</if>
			<if test="approveDatetimeEnd != null and approveDatetimeEnd != '' ">
				<![CDATA[AND t.approve_datetime <= #{approveDatetimeEnd}]]>
			</if>
			
			<if test="impowerDatetimeStart != null and impowerDatetimeStart != '' ">
				<![CDATA[AND t.approve_datetime >= #{approveDatetimeStart}]]>
			</if>
			<if test="impowerDatetimeEnd != null and impowerDatetimeEnd != '' ">
				<![CDATA[AND t.approve_datetime <= #{approveDatetimeEnd}]]>
			</if>
			
		</trim>
	</sql>
	
	<select id="select_upLevelApply" parameterType="uplevelApply" resultMap="uplevelApply_DB_Result">
		SELECT
		t.code
		,t.apply_user
		,t.apply_level
		,t.apply_datetime
		,t.re_number
		,t.pay_amount
		,t.pay_pdf
		,t.status
		,t.approver
		,t.approve_datetime
		,t.impower_datetime
		,t.remark
		FROM
		tbh_uplevel_apply t LEFT JOIN tbh_buser u ON t.apply_user = u.user_id   
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_upLevelApply_count" parameterType="uplevelApply"
		resultType="java.lang.Long">
		SELECT count(1) FROM tbh_uplevel_apply t LEFT JOIN tbh_buser u ON t.apply_user = u.user_id   
		<include refid="where_condition" />
	</select>

	<insert id="insert_upLevelApply" parameterType="uplevelApply">
		INSERT INTO
		tbh_uplevel_apply(
		code
		,apply_user
		,apply_level
		,apply_datetime
		,re_number
	    ,pay_amount
		,pay_pdf
		,status
		,approver
		,approve_datetime
		,impower_datetime
		,remark
		)
		VALUES(
		#{code}
        ,#{applyUser}
		,#{applyLevel}
		,#{applyDatetime}
		,#{reNumber}
		,#{payAmount}
		,#{payPdf}
		,#{status}
		,#{approver}
		,#{approveDatetime}
		,#{impowerDatetime}
		,#{remark}
		)
	</insert>
	
	
	<!-- update payment / status -->
	<update id="update_upLevelApply" parameterType="uplevelApply">
		UPDATE tbh_uplevel_apply
		SET
		apply_user = #{applyUser}
		,apply_level = #{applyLevel}
		,apply_datetime = #{applyDatetime}
		,re_number = #{reNumber}
        ,pay_amount = #{payAmount}
		,pay_pdf = #{payPdf}
		,status = #{status}
		,approver = #{approver}
		,approve_datetime = #{approveDatetime}
		,impower_datetime = #{impowerDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	
</mapper>