<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bh.mall.dao.IAgentDAO">
	<resultMap id="aegnt_DB_Result" type="agent">
		<result column="level" property="level"/>
		<result column="name" property="name"/>
		<result column="amount" property="amount"/>
		<result column="red_amount" property="redAmount"/>
		<result column="min_charge_amount" property="minChargeAmount"/>
		
		<result column="updater" property="updater"/>
		<result column="update_datetime" property="updateDatetime"/>
		<result column="remark" property="remark"/>
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="name != null and name != ''">
				AND t.name like "%"#{name}"%"
			</if>
			<if test="levelForQuery != null and levelForQuery !=''">
				AND t.level = '1' OR t.level = '2' OR t.level = '3' OR t.level = '4' OR t.level = '5'
			</if>
			<if test="level != null and level !=''">
				AND t.level = #{level}
			</if>
			
			<if test="lowLevel != null and lowLevel !=''">
				<![CDATA[AND t.level > #{lowLevel}]]>
			</if>
		</trim>
	</sql>
	
	<select id="select_agent" parameterType="agent" resultMap="aegnt_DB_Result">
		SELECT 
		t.name
		,t.level 
		,t.amount
		,t.red_amount
		,t.min_charge_amount
		,t.updater
		,t.update_datetime
		,t.remark
		FROM tbh_agent t
		<include refid="where_condition"/>
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				${order}
			</if>
		</trim>
	</select>
	
	
	<select id="select_agent_count" parameterType="agent" resultType="java.lang.Long">
		SELECT count(1) FROM tbh_agent t
		<include refid="where_condition"/>
	</select>
	
	<update id="update_agent" parameterType="agent">
		UPDATE tbh_agent 
		SET 
		name=#{name}
		,amount=#{amount}
		,red_amount=#{redAmount}
		,min_charge_amount=#{minChargeAmount}
		,updater=#{updater}
		
		,update_datetime=#{updateDatetime}
		,remark=#{remark}
		WHERE level=#{level}
	</update>
</mapper>