<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bh.mall.dao.IAgentDAO">
	<resultMap id="agent_DB_Result" type="agent">
		<result column="user_id" property="userId" />
		<result column="from_user_id" property="fromUserId" />
		<result column="mobile" property="mobile" />
		<result column="wx_id" property="wxId" />
		<result column="photo" property="photo" />

		<result column="nickname" property="nickname" />
		<result column="trade_pwd" property="tradePwd" />
		<result column="trade_pwd_strength" property="tradePwdStrength" />
		<result column="level" property="level" />
		
		<result column="referrer" property="referrer" />
		<result column="introducer" property="introducer" />
		<result column="high_user_id" property="highUserId" />
		<result column="team_name" property="teamName" />
		<result column="id_kind" property="idKind" />
		
		<result column="id_no" property="idNo" />
		<result column="id_hand" property="idHand" />
		<result column="real_name" property="realName" />
		
		<result column="status" property="status" />
		<result column="manager" property="manager" />
		<result column="union_id" property="unionId" />
		<result column="h5_open_id" property="h5OpenId" />
		<result column="app_open_id" property="appOpenId" />
		
		<result column="province" property="province" />
		<result column="city" property="city" />
		<result column="area" property="area" />
		<result column="address" property="address" />
		<result column="create_datetime" property="createDatetime" />
		
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="approver" property="approver" />
		<result column="approve_name" property="approveName" />
		<result column="approve_datetime" property="approveDatetime" />
		<result column="impower_datetime" property="impowerDatetime" />
		
		<result column="remark" property="remark" />
		<result column="last_agent_log" property="lastAgentLog" />
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
			<if test="fromUserId != null and fromUserId != '' ">
				AND t.from_user_id = #{fromUserId}
			</if>
			<if test="highUserId != null and highUserId != '' ">
				AND t.high_user_id = #{highUserId}
			</if>
			<if test="nickname != null and nickname != '' ">
				AND t.nickname like "%"#{nickname}"%"
			</if>
			
			<if test="level != null and level != '' ">
				AND t.level = #{level}
			</if>
			<if test="highLevel != null and highLevel != '' ">
				<![CDATA[AND t.level < #{highLevel}]]>
			</if>

			<if test="referrer != null and referrer != '' ">
				AND t.referrer = #{referrer}
			</if>
			<if test="mobile != null and mobile != '' ">
				AND t.mobile = #{mobile}
			</if>
			<if test="idKind != null and idKind != '' ">
				AND t.id_kind = #{idKind}
			</if>
			<if test="idNo != null and idNo != '' ">
				AND t.id_no = #{idNo}
			</if>

			<if test="realName != null and realName != '' ">
				AND t.real_name = #{realName}
			</if>

			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>


			<if test="updater != null and updater != '' ">
				AND t.updater = #{updater}
			</if>
			<if test="unionId != null and unionId != '' ">
				AND t.union_id = #{unionId}
			</if>
			<if test="h5OpenId != null and h5OpenId != '' ">
				AND t.h5_open_id = #{h5OpenId}
			</if>
			<if test="appOpenId != null and appOpenId != '' ">
				AND t.app_open_id = #{appOpenId}
			</if>

			<if test="province != null and province != '' ">
				AND t.province = #{province}
			</if>
			<if test="provinceForQuery != null and provinceForQuery != '' ">
				AND t.province like "%"#{provinceForQuery}"%"
			</if>
			<if test="city != null and city != '' ">
				AND t.city = #{city}
			</if>
			<if test="cityForQuery != null and cityForQuery != '' ">
				AND t.city like "%"#{cityForQuery}"%"
			</if>
			<if test="area != null and area != '' ">
				AND t.area = #{area}
			</if>

			<if test="areaForQuery != null and areaForQuery != '' ">
				AND t.area like "%"#{areaForQuery}"%"
			</if>
			<if test="createDatetimeStart != null and createDatetimeStart != '' ">
				<![CDATA[AND t.create_datetime >= #{createDatetimeStart}]]>
			</if>
			<if test="createDatetimeEnd != null and createDatetimeEnd != '' ">
				<![CDATA[AND t.create_datetime <= #{createDatetimeEnd}]]>
			</if>
			<if test="teamName != null and teamName != '' ">
				AND t.team_name = #{teamName}
			</if>

			<if test="keyWord !=null and keyWord != '' ">
				AND (t.real_name like "%"#{keyWord}"%" or t.nickname like
				"%"#{keyWord}"%" or t.wx_id like "%"#{keyWord}"%"
				or t.mobile like "%"#{keyWord}"%")
			</if>
		</trim>
	</sql>

	<select id="select_agent" parameterType="agent" resultMap="agent_DB_Result">
		SELECT
		t.user_id
		,t.from_user_id
		,t.mobile
		,t.wx_id
		,t.photo

		,t.nickname
		,t.trade_pwd
		,t.trade_pwd_strength
		,t.level
		,t.referrer
		,t.introducer

		,t.high_user_id
		,t.team_name
		,t.id_kind
		,t.id_no
	
		,t.id_hand
		,t.real_name
		,t.status

		,t.manager
		,t.union_id

		,t.h5_open_id
		,t.app_open_id
		,t.province
		,t.city
		,t.area

		,t.address
		,t.create_datetime
		,t.updater
		,t.update_datetime
		,t.approver

		,t.approve_name
		,t.approve_datetime
		,t.last_agent_log
		,t.impower_datetime
		,t.remark
		FROM
		tbh_agent t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_agent_count" parameterType="agent" resultType="java.lang.Long">
		SELECT count(1) FROM tbh_agent t
		<include refid="where_condition" />
	</select>


	<insert id="insert_agent" parameterType="agent">
		INSERT INTO
		tbh_agent(
		user_id
		,from_user_id
		,real_name
		,mobile
		,wx_id
		,photo

		,nickname
		,level
		,referrer
		,introducer
		,high_user_id
		,team_name

		,id_kind
		,id_no
		,id_hand
		,status
		,manager
		
		,union_id
		,h5_open_id
		,app_open_id

		,province
		,city
		,area
		,address
		,create_datetime

		,updater
		,update_datetime
		,approver
		,approve_name
		,approve_datetime
		,last_agent_log

		,remark
		)
		VALUES(
		#{userId}
		,#{fromUserId}
		,#{realName}
		,#{mobile}
		,#{wxId}
		,#{photo}

		,#{nickname}
		,#{level}
		,#{referrer}
		,#{introducer}
		,#{highUserId}
		,#{teamName}

		,#{idKind}
		,#{idNo}
		,#{idHand}
		,#{status}
		,#{manager}
		
		,#{unionId}
		,#{h5OpenId}
		,#{appOpenId}

		,#{province}
		,#{city}
		,#{area}
		,#{address}
		,#{createDatetime}

		,#{updater}
		,#{updateDatetime}
		,#{approver}
		,#{approveName}
		,#{approveDatetime}
		,#{lastAgentLog}

		,#{remark}
		)
	</insert>

	<update id="update_status" parameterType="agent">
		UPDATE tbh_agent
		SET
		status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE user_id = #{userId}
	</update>


	<update id="update_agent" parameterType="agent">
		UPDATE tbh_agent
		SET
		mobile = #{mobile}
		,wx_id = #{wxId}
		,photo = #{photo}
		,nickname = #{nickname}
		,level = #{level}
		,referrer = #{referrer}
		,introducer = #{introducer}
		,high_user_id = #{highUserId}
		,team_name = #{teamName}
		,id_kind = #{idKind}
		,id_no = #{idNo}
		,id_hand = #{idHand}
		,real_name = #{realName}
		,status = #{status}
		,manager = #{manager}
		,union_id = #{unionId}
		,h5_open_id = #{h5OpenId}
		,app_open_id = #{appOpenId}
		,province = #{province}
		,city = #{city}
		,area = #{area}
		,address = #{address}
		,create_datetime = #{createDatetime}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,approver = #{approver}
		,approve_name = #{approveName}
		,approve_datetime =	#{approveDatetime}
		,last_agent_log = #{lastAgentLog}
		,remark = #{remark}
		WHERE
		user_id = #{userId}
	</update>


	<update id="update_trade_pwd" parameterType="agent">
		UPDATE tbh_agent
		SET
		trade_pwd = #{tradePwd}
		,trade_pwd_strength = #{tradePwdStrength}
		WHERE
		user_id = #{userId}
	</update>


	<update id="update_agent_photo" parameterType="agent">
		UPDATE tbh_agent
		SET
		photo = #{photo}
		WHERE user_id = #{userId}
	</update>

	<update id="update_mobile" parameterType="agent">
		UPDATE tbh_agent
		SET
		mobile = #{mobile}
		WHERE user_id = #{userId}
	</update>



	<update id="update_information" parameterType="agent">
		UPDATE tbh_agent
		SET
		province = #{province}
		,city = #{city}
		,area = #{area}
		,address = #{address}

		,mobile = #{mobile}
		,wx_id = #{wxId}
		,team_name = #{teamName}
		WHERE user_id =
		#{userId}
	</update>

	<update id="update_highUser" parameterType="agent">
		UPDATE tbh_agent
		SET
		high_user_id = #{highUserId}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,last_agent_log = #{lastAgentLog}
		WHERE user_id =
		#{userId}
	</update>

	<update id="update_userReferee" parameterType="agent">
		UPDATE tbh_agent
		SET
		referrer = #{referrer}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		WHERE user_id = #{userId}
	</update>

	<update id="update_manager" parameterType="agent">
		UPDATE tbh_agent
		SET
		manager = #{manager}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		WHERE user_id = #{userId}
	</update>

	<update id="update_high" parameterType="agent">
		UPDATE tbh_agent
		SET
		high_user_id = #{highUserId}
		,referrer = #{referrer}
		,updater =
		#{updater}
		,update_datetime = #{updateDatetime}
		,last_agent_log =
		#{lastAgentLog}
		WHERE user_id = #{userId}
	</update>

	<update id="update_teamName" parameterType="agent">
		UPDATE tbh_agent
		SET
		team_name = #{teamName}
		WHERE user_id = #{userId}
	</update>

	<update id="update_level" parameterType="agent">
		UPDATE tbh_agent
		SET
		level = #{level}
		WHERE user_id = #{userId}
	</update>
	
	<update id="abolish_impower" parameterType="agent">
		UPDATE tbh_agent
		SET
		status = #{status}
		,mobile = #{mobile}
		,id_no = #{idNo}
		,referrer = #{referrer}
		,high_user_id = #{highUserId}

		,team_name = #{teamName}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		,last_agent_log = #{lastAgentLog}
		WHERE user_id = #{userId}
	</update>
	
	<update id="update_info" parameterType="agent">
		UPDATE tbh_agent
		SET
		mobile = #{mobile}
		,id_no = #{idNo}
		,referrer = #{referrer}
		,high_user_id = #{highUserId}

		,team_name = #{teamName}
		,last_agent_log = #{lastAgentLog}
		WHERE user_id = #{userId}
	</update>
	
	<update id="update_lastLog" parameterType="agent">
		UPDATE tbh_agent
		SET
		status = #{status}
		,approver = #{approver}
		,approve_name = #{approveName}
		,approve_datetime =	#{approveDatetime}
		,last_agent_log = #{lastAgentLog}
		WHERE user_id = #{userId}
	</update>

	<update id="apply_agent" parameterType="agent">
		UPDATE tbh_agent
		SET
		status = #{status}
		,mobile = #{mobile}
		,wx_id = #{wxId}
		,real_name = #{realName}
		,province = #{province}
		,city = #{city}
		,area = #{area}
		,address = #{address}
		,approver = #{approver}
		,approve_name = #{approveName}
		,approve_datetime =	#{approveDatetime}
		,last_agent_log = #{lastAgentLog}
		WHERE user_id = #{userId}
	</update>
	
	<update id="add_info" parameterType="agent">
		UPDATE tbh_agent
		SET
		status = #{status}
		,id_kind = #{idKind}
		,id_no = #{idNo}
		,id_hand = #{idHand}
		,mobile = #{mobile}
		,wx_id = #{wxId}
		,real_name = #{realName}
		,province = #{province}
		,city = #{city}
		,area = #{area}
		,address = #{address}
		,last_agent_log = #{lastAgentLog}
		WHERE user_id = #{userId}
	</update>
	
		
	<update id="update_referee" parameterType="agent">
		UPDATE tbh_agent
		SET
		referrer = #{referrer}
		WHERE user_id = #{userId}
	</update>

	<update id="reset_info" parameterType="agent">
		UPDATE tbh_agent
		SET
		mobile = #{mobile}
		,referrer = #{referrer}
		,introducer = #{introducer}
		,high_user_id = #{highUserId}
		,id_no = #{idNo}
		,team_name = #{teamName}
		WHERE user_id = #{userId}
	</update>
	
	<update id="update_sq" parameterType="agent">
		UPDATE tbh_agent
		SET
		status = #{status}
		,level = #{level}
		,high_user_id = #{highUserId}
		,team_name = #{teamName}
		,approver = #{approver}
		,approve_name = #{approveName}
		,approve_datetime =	#{approveDatetime}
		WHERE user_id = #{userId}
	</update>
	
	<update id="update_sj" parameterType="agent">
		UPDATE tbh_agent
		SET
		level = #{level}
		,team_name = #{teamName}
		,id_kind = #{idKind}
		,id_no = #{idNo}
		,id_hand = #{idHand}
		,high_user_id = #{highUserId}
		,approver = #{approver}
		,approve_name = #{approveName}
		,approve_datetime =	#{approveDatetime}
		WHERE user_id = #{userId}
	</update>
	
	<update id="reset_userReferee" parameterType="agent">
		UPDATE tbh_agent
		SET
		referrer = #{referrer}
		WHERE user_id = #{userId}
	</update>
	
</mapper>