<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bh.mall.dao.IAgentReportDAO">
	<resultMap id="agentReport_DB_Result" type="agentReport">
		<result column="user_id" property="userId" />
		<result column="real_name" property="realName" />
		<result column="mobile" property="mobile" />
		<result column="wxId" property="wxId" />
		
		<result column="level" property="level" />
		<result column="user_referee" property="userReferee" />
		<result column="introducer" property="introducer" />
		<result column="high_user_id" property="highUserId" />
		<result column="team_name" property="teamName" />
		
		<result column="manager" property="manager" />
		<result column="province" property="province" />
		<result column="city" property="city" />
		<result column="area" property="area" />
		<result column="address" property="address" />
		
		<result column="impower_datetime" property="impowerDatetime" />
		<result column="send_award" property="sendAward" />
		<result column="intr_award" property="intrAward" />
		<result column="refree_award" property="refreeAward" />
		<result column="profit_award" property="profitAward" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
			<if test="userReferee != null and userReferee != '' ">
				AND t.user_referee = #{userReferee}
			</if>
			<if test="introducer != null and introducer != '' ">
				AND t.introducer = #{introducer}
			</if>
			<if test="highUserId != null and highUserId != '' ">
				AND t.high_user_id = #{highUserId}
			</if>
			<if test="level != null and level != '' ">
				AND t.level = #{level}
			</if>
			
			<if test="teamName != null and teamName != '' ">
				AND t.team_name like "%"#{teamName}"%"
			</if>
			<if test="realName != null and realName != '' ">
				AND t.real_name like "%"#{realName}"%"
			</if>
			<if test="manager != null and manager != '' ">
				AND t.manager = #{manager}
			</if>
			<if test="province != null and province != '' ">
				AND t.province = #{province}
			</if>
			
			<if test="city != null and city != '' ">
				AND t.city = #{city}
			</if>
			<if test="startDatetime != null and startDatetime != '' ">
				<![CDATA[AND t.impower_datetime >= #{startDatetime}]]>
			</if>
				<if test="endDatetime != null and endDatetime != '' ">
				<![CDATA[AND t.impower_datetime <= #{endDatetime}]]>
			</if>
		</trim>
	</sql>
	<select id="select_agentReport" parameterType="agentReport" resultMap="agentReport_DB_Result">
		SELECT
		t.user_id
		,t.real_name
		,t.mobile
		,t.wxId
		,t.level
		
		,t.user_referee
		,t.introducer
		,t.high_user_id
		,t.team_name
		,t.manager
		,t.province
		
		,t.city
		,t.area
		,t.address
		,t.impower_datetime
		,t.send_award
		,t.intr_award
		
		,t.refree_award
		,t.profit_award
		FROM
		tbh_agent_report t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_agentReport_count" parameterType="agentReport"
		resultType="java.lang.Long">
		SELECT count(1) FROM tbh_agent_report t
		<include refid="where_condition" />
	</select>

	<insert id="insert_agentReport" parameterType="agentReport">
		INSERT INTO
		tbh_agent_report(
		user_id
		,real_name
		,mobile
		,wxId
		,level
		,user_referee
		,introducer
		,high_user_id
		,team_name
		,manager
		,province
		,city
		,area
		,address
		,impower_datetime
		)
		VALUES(
		#{userId}
		,#{realName}
		,#{mobile}
		,#{wxId}
		,#{level}
		,#{userReferee}
		,#{introducer}
		,#{highUserId}
		,#{teamName}
		,#{manager}
		,#{province}
		,#{city}
		,#{area}
		,#{address}
		,#{impowerDatetime}
		)
	</insert>

	<update id="update_agentReport" parameterType="agentReport">
		UPDATE tbh_agent_report
		SET
		real_name = #{realName}
		,mobile = #{mobile}
		,wxId = #{wxId}
		,level = #{level}
		,user_referee = #{userReferee}
		,introducer = #{introducer}
		,high_user_id = #{highUserId}
		,team_name = #{teamName}
		,manager = #{manager}
		,province = #{province}
		,city = #{city}
		,area = #{area}
		,address = #{address}
		,impower_datetime = #{impowerDatetime}
		WHERE user_id = #{userId}
	</update>

<update id="update_award" parameterType="agentReport">
		UPDATE tbh_agent_report
		SET
		send_award = #{sendAward}
		,intr_award = #{intrAward}
		,refree_award = #{refreeAward}
		,profit_award = #{profitAward}
		WHERE user_id = #{userId}
	</update>

</mapper>