<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bh.mall.dao.IAgentDAO">
	<resultMap id="aegnt_DB_Result" type="agent">
		<result column="code" property="code"/>
		<result column="name" property="name"/>
		<result column="level" property="level"/>
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != ''">
				AND code = #{code}
			</if>
			<if test="name != null and name != ''">
				AND name like "%"#{name}"%"
			</if>
			<if test="level != null and level !=''">
				AND level = #{level}
			</if>
		</trim>
	</sql>
	<select id="select_agent" parameterType="agent" resultMap="aegnt_DB_Result">
		SELECT 
			code,
			name,
			level 
		FROM tbh_agent
		<include refid="where_condition"/>
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				${order}
			</if>
		</trim>
	</select>
	
	
	<select id="select_count" parameterType="agent" resultType="java.lang.Long">
		SELECT count(1) FROM tbh_agent
		<include refid="where_condition"/>
	</select>
	
	<update id="update_agent" parameterType="agent">
		UPDATE tbh_agent SET 
		name=#{name},
		level=#{level}
		WHERE code=#{code}
	</update>
</mapper>