<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bh.mall.dao.IAgentImPowerDAO">
	<resultMap type="agentImpower" id="agentImpower_DB_Result">
		<result column="code" property="code"/>
		<result column="level" property="level"/>
		<result column="is_intent" property="isIntent"/>
		<result column="is_intro" property="isIntro"/>
		<result column="is_real_name" property="isRealName"/>
		
		<result column="is_company_impower" property="isCompanyImpower"/>
		<result column="min_charge" property="minCharge"/>
		<result column="updater" property="updater"/>
		<result column="update_datetime" property="updateDatetime"/>
		<result column="remark" property="remark"/>
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != ''">
				AND t.code=#{code}
			</if>
			<if test="level != null and level != ''">
				AND t.level=#{level}
			</if>
			<if test="isCompanyImpower != null and isCompanyImpower != ''">
				AND t.is_company_impower=#{isCompanyImpower}
			</if>
			<if test="isRealName != null and isRealName != ''">
				AND t.is_real_name=#{isRealName}
			</if>
			<if test="isIntro != null and isIntro != ''">
				AND t.is_intro=#{isIntro}
			</if>
			
			<if test="isIntent != null and isIntent != ''">
				AND t.is_intent=#{isIntent}
			</if>
		</trim>
	</sql>
	
	<select id="select_agentImpower" parameterType="agentImpower" resultMap="agentImpower_DB_Result">
		SELECT 
		t.code 
		,t.level
		,t.is_intent 
		,t.is_intro
		,t.is_real_name
		,t.is_company_impower
		,t.min_charge
		
		,t.updater
		,t.update_datetime
		,t.remark
		FROM tbh_agent_impower t
		<include refid="where_condition"/>
		<trim prefix="ORDER BY">
			<if test="order != null and order != '' ">
				${order}
			</if>
		</trim>
	</select>
	
	<select id="select_agentImpower_count" parameterType="agentImpower" resultType="java.lang.Long">
		SELECT count(1) FROM tbh_agent_impower t
		<include refid="where_condition"/>
	</select>
	
	<update id="update_agentImpower" parameterType="agentImpower">
		UPDATE tbh_agent_impower 
		SET
		level=#{level}
		,is_intent=#{isIntent}
		,is_intro=#{isIntro}
		,is_real_name=#{isRealName}
		,is_company_impower=#{isCompanyImpower}
		,min_charge=#{minCharge}
		
		,updater=#{updater}
		,update_datetime=#{updateDatetime}
		,remark=#{remark}
		WHERE code=#{code}
	</update>
	
</mapper>