<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bh.mall.dao.IAgentPriceDAO">
	<resultMap id="agentPrice_DB_Result" type="agentPrice">
		<result column="code" property="code"/>
		<result column="product_specs_code" property="productSpecsCode"/>
		<result column="level" property="level"/>
		<result column="price" property="price"/>
		<result column="change_price" property="changePrice"/>
		
		<result column="min_number" property="minNumber"/>
		<result column="min_quantity" property="minQuantity"/>
		<result column="is_buy" property="isBuy"/>
		<result column="daily_number" property="dailyNumber"/>
		<result column="weekly_number" property="weeklyNumber"/>
		<result column="monthly_number" property="monthlyNumber"/>
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != ''">
				AND t.code = #{code}
			</if>
			<if test="productSpecsCode != null and productSpecsCode != ''">
				AND t.product_specs_code = #{productSpecsCode}
			</if>
			<if test="level != null and level !=''">
				AND t.level  = #{level}
			</if>
			<if test="isBuy != null and isBuy !=''">
				AND t.is_buy  = #{isBuy}
			</if>
		</trim>
	</sql>
	
	<select id="select_agentPrice" parameterType="agentPrice" resultMap="agentPrice_DB_Result">
		SELECT 
		t.code
		,t.product_specs_code
		,t.level
		,t.price
		,t.change_price
		,t.min_number
		
		,t.min_quantity
		,t.is_buy
		,t.daily_number
		,t.weekly_number
		,t.monthly_number
		FROM tbh_agent_price t
		<include refid="where_condition"/>
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				${order}
			</if>
		</trim>
	</select>
	
	
	<select id="select_agentPrice_count" parameterType="agentPrice" resultType="java.lang.Long">
		SELECT count(1) FROM tbh_agent_price t
		<include refid="where_condition"/>
	</select>
	
	<insert id="insert_agentPrice" parameterType="agentPrice">
		INSERT INTO tbh_agent_price(
		code
		,product_specs_code
		,level
		,price
		,change_price
		,min_number
		,min_quantity
		
		,is_buy
		,daily_number
		,weekly_number
		,monthly_number
		)
		VALUES(
		#{code}
		,#{productSpecsCode}
		,#{level}
		,#{price}
		,#{changePrice}
		,#{minNumber}
		,#{minQuantity}
		
		,#{isBuy}
		,#{dailyNumber}
		,#{weeklyNumber}
		,#{monthlyNumber}
		
		)
	</insert>
	
	<update id="update_agentPrice" parameterType="agentPrice">
		UPDATE tbh_agent_price
		SET 
		price = #{price}
		,change_price = #{changePrice}
		,min_number = #{minNumber}
		,min_quantity = #{minQuantity}
		,is_buy = #{isBuy}
		
		,daily_number = #{dailyNumber}
		,weekly_number = #{weeklyNumber}
		,monthly_number = #{monthlyNumber}
		where code=#{code}
	</update>
	
	<delete id="delete_agentPrice" parameterType="agentPrice">
		DELETE FROM 
		tbh_agent_price 
		WHERE
		product_specs_code = #{productSpecsCode}
	</delete>
</mapper>