<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.std.user.dao.IAuthLogDAO">
	<resultMap id="authLog_DB_Result" type="authLog">
		<result column="code" property="code" />
		<result column="type" property="type" />
		<result column="auth_arg1" property="authArg1" />
		<result column="auth_arg2" property="authArg2" />
		<result column="auth_arg3" property="authArg3" />
		<result column="status" property="status" />
		<result column="apply_user" property="applyUser" />
		<result column="apply_datetime" property="applyDatetime" />
		<result column="approve_user" property="approveUser" />
		<result column="approve_datetime" property="approveDatetime" />
		<result column="result" property="result" />
		<result column="remark" property="remark" />
		<result column="company_code" property="companyCode" />
		<result column="system_code" property="systemCode" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="type != null and type != '' ">
				AND t.type = #{type}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="applyUser != null and applyUser != '' ">
				AND t.apply_user = #{applyUser}
			</if>
			<if test="companyCode != null and companyCode != '' ">
				AND t.company_code = #{companyCode}
			</if>
			<if test="systemCode != null and systemCode != '' ">
				AND t.system_code = #{systemCode}
			</if>
		</trim>
	</sql>
	<select id="select_authLog" parameterType="authLog" resultMap="authLog_DB_Result">
		SELECT
		t.code
		,t.type
		,t.auth_arg1
		,t.auth_arg2
		,t.auth_arg3
		,t.status
		,t.apply_user
		,t.apply_datetime
		,t.approve_user
		,t.approve_datetime
		,t.result
		,t.remark
		,t.company_code
		,t.system_code
		FROM
		tstd_auth_log t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_authLog_count" parameterType="authLog"
		resultType="java.lang.Long">
		SELECT count(1) FROM tstd_auth_log t
		<include refid="where_condition" />
	</select>

	<insert id="insert_authLog" parameterType="authLog">
		INSERT INTO
		tstd_auth_log(
		code
		,type
		,auth_arg1
		,auth_arg2
		,auth_arg3
		,status
		,apply_user
		,apply_datetime
		,remark
		,company_code
		,system_code
		)
		VALUES(
		#{code}
		,#{type}
		,#{authArg1}
		,#{authArg2}
		,#{authArg3}
		,#{status}
		,#{applyUser}
		,#{applyDatetime}
		,#{remark}
		,#{companyCode}
		,#{systemCode}
		)
	</insert>

    <update id="update_reapply" parameterType="authLog">
		UPDATE tstd_auth_log
		SET
		auth_arg1 = #{authArg1}
		,auth_arg2 = #{authArg2}
		,auth_arg3 = #{authArg3}
		,status = #{status}
		,apply_datetime =#{applyDatetime}
		,remark=#{remark}
		WHERE code = #{code}
	</update>
	
	<update id="approve_auth" parameterType="authLog">
		UPDATE tstd_auth_log
		SET
		status = #{status}
		,approve_user = #{approveUser}
		,approve_datetime = #{approveDatetime}
		,result = #{result}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
</mapper>