<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bh.mall.dao.IBarCodeDAO">
	<resultMap id="barCode_DB_Result" type="barCode">
		<result column="code" property="code" />
		<result column="status" property="status" />
		<result column="create_datetime" property="createDatetime" />
		<result column="use_datetime" property="useDatetime" />
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
		</trim>
	</sql>
	
	<select id="select_barCode" parameterType="BarCode" resultMap="barCode_DB_Result">
		SELECT
		t.code
		,t.status
		,t.create_datetime
		,t.use_datetime
		FROM
		tbh_bar_code t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>
	
	
	<select id="select_code" parameterType="BarCode" resultMap="barCode_DB_Result">
		SELECT
		t.code
		FROM
		tbh_bar_code t
		<include refid="where_condition" />
	</select>

	<select id="select_barCode_count" parameterType="BarCode"
		resultType="java.lang.Long">
		SELECT count(1) FROM tbh_bar_code t
		<include refid="where_condition" />
	</select>

	<insert id="insert_barCode" parameterType="BarCode">
		INSERT INTO
		tbh_bar_code(
		code
		,status
		,create_datetime
		,use_datetime
		)
		VALUES(
		#{code}
		,#{status}
		,#{createDatetime}
		,#{useDatetime}
		)
	</insert>

	<update id="update_barCode" parameterType="BarCode">
		UPDATE tbh_bar_code
		SET
		status = #{status}
		,use_datetime = #{useDatetime}
		WHERE code = #{code}
	</update>
	
	<update id="split_single" parameterType="BarCode">
		UPDATE tbh_bar_code
		SET
		status = #{status}
		,use_datetime = #{useDatetime}
		WHERE code = #{code}
	</update>
	


</mapper>