<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bh.mall.dao.ICartDAO">
	<resultMap id="cart_DB_Result" type="cart">
		<result column="code" property="code" />
		<result column="user_id" property="userId" />
		<result column="product_code" property="productCode" />
		<result column="product_specs_code" property="productSpecsCode" />
		<result column="quantity" property="quantity" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="productCode != null and productCode != '' ">
				AND t.product_code = #{productCode}
			</if>
			<if test="productSpecsCode != null and productSpecsCode != '' ">
				AND t.product_specs_code = #{productSpecsCode}
			</if>
		</trim>
	</sql>
	<select id="select_cart" parameterType="cart" resultMap="cart_DB_Result">
		SELECT
		t.code
		,t.user_id
		,t.product_code
		,t.product_specs_code
		,t.quantity
		FROM
		tbh_cart t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_cart_count" parameterType="cart"
		resultType="java.lang.Long">
		SELECT count(1) FROM tbh_cart t
		<include refid="where_condition" />
	</select>

	<insert id="insert_cart" parameterType="cart">
		INSERT INTO
		tbh_cart(
		code
		,user_id
		,product_code
		,product_specs_code
		,quantity
		)
		VALUES(
		#{code}
		,#{userId}
		,#{productCode}
		,#{productSpecsCode}
		,#{quantity}
		)
	</insert>

	<update id="update_cart" parameterType="cart">
		UPDATE tbh_cart
		SET
		quantity = #{quantity}
		WHERE code = #{code}
	</update>


	<delete id="delete_cart" parameterType="cart">
		DELETE FROM 
		tbh_cart
		WHERE code = #{code}
	</delete>

</mapper>