<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bh.mall.dao.IChAwardDAO">
	<resultMap id="chAward_DB_Result" type="chAward">
		<result column="code" property="code" />
		<result column="level" property="level" />
		<result column="start_amount" property="startAmount" />
		<result column="end_amount" property="endAmount" />
		<result column="percent" property="percent" />
		
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="level != null and level != '' ">
				AND t.level = #{level}
			</if>
			<if test="amount != null and amount != '' ">
				<![CDATA[AND t.start_amount <=  #{amount} AND t.end_amount > #{amount} ]]>
			</if>
			
		</trim>
	</sql>
	
	<select id="select_chAward" parameterType="chAward" resultMap="chAward_DB_Result">
		SELECT
		t.code
		,t.level
		,t.start_amount
		,t.end_amount
		,t.percent
		
		,t.updater
		,t.update_datetime
		,t.remark
		FROM
		tbh_ch_award t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_chAward_count" parameterType="chAward"
		resultType="java.lang.Long">
		SELECT count(1) FROM tbh_ch_award t
		<include refid="where_condition" />
	</select>


	
	<select id="select_by_level" parameterType="chAward" resultMap="chAward_DB_Result">
		SELECT
		t.code
		,t.level
		,t.start_amount
		,t.end_amount
		,t.percent
		
		,t.updater
		,t.update_datetime
		,t.remark
		FROM
		tbh_ch_award t
		<include refid="where_condition" />
		ORDER BY t.start_amount,t.end_amount
	</select>

	<insert id="insert_chAward" parameterType="chAward">
		INSERT INTO
		tbh_ch_award(
		code
		,level
		,start_amount
		,end_amount
		,percent
		
		,updater         
		,update_datetime 
		,remark          
		)
		VALUES(
		#{code}
		,#{level}
		,#{startAmount}
		,#{endAmount}
		,#{percent}
		
		,#{updater}        
		,#{updateDatetime} 
		,#{remark}          
		)
	</insert>

	<update id="update_chAward" parameterType="chAward">
		UPDATE tbh_ch_award
		SET
		level = #{level}
		,start_amount = #{startAmount}
		,end_amount = #{endAmount}
		,percent = #{percent}
		
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<delete id="delete_chAward" parameterType="chAward">
		DELETE FROM 
		tbh_ch_award
		WHERE 
		code = #{code}
	</delete>


</mapper>