<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.std.user.dao.ICMenuDAO">
	<resultMap id="cMenu_DB_Result" type="cMenu">
		<result column="code" property="code" />
		<result column="name" property="name" />
		<result column="url" property="url" />
		<result column="status" property="status" />
		<result column="location" property="location" />
		<result column="order_no" property="orderNo" />
		<result column="parent_code" property="parentCode" />
		<result column="remark" property="remark" />
		<result column="content_type" property="contentType" />
		<result column="company_code" property="companyCode" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="name != null and name != '' ">
				AND t.name like "%"#{name}"%"
			</if>
			<if test="location != null and location != '' ">
				AND t.location = #{location}
			</if>
			<if test="parentCode != null and parentCode != '' ">
				AND t.parent_code = #{parentCode}
			</if>
			<if test="contentType != null and contentType != '' ">
				AND t.content_type = #{contentType}
			</if>
			<if test="companyCode != null and companyCode != '' ">
				AND t.company_code = #{companyCode}
			</if>
		</trim>
	</sql>
	<select id="select_cMenu" parameterType="cMenu" resultMap="cMenu_DB_Result">
		SELECT
		t.code
		,t.name
		,t.url
		,t.status
		,t.location
		,t.order_no
		,t.parent_code
		,t.remark
		,t.content_type
		,t.company_code
		FROM
		tstd_cmenu t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_cMenu_count" parameterType="cMenu"
		resultType="java.lang.Long">
		SELECT count(1) FROM tstd_cmenu t
		<include refid="where_condition" />
	</select>

	<insert id="insert_cMenu" parameterType="cMenu">
		INSERT INTO
		tstd_cmenu(
		code
		,name
		,url
		,status
		,location
		,order_no
		,parent_code
		,remark
		,content_type
		,company_code
		)
		VALUES(
		#{code}
		,#{name}
		,#{url}
		,#{status}
		,#{location}
		,#{orderNo}
		,#{parentCode}
		,#{remark}
		,#{contentType}
		,#{companyCode}
		)
	</insert>

	<update id="update_cMenu" parameterType="cMenu">
		UPDATE tstd_cmenu
		SET
		name = #{name}
		,url = #{url}
		,status = #{status}
		,location = #{location}
		,order_no = #{orderNo}
		,parent_code = #{parentCode}
		,remark = #{remark}
		,content_type = #{contentType}
		,company_code = #{companyCode}
		WHERE code = #{code}
	</update>
	
	<update id="update_cMenu_status" parameterType="cMenu">
		UPDATE tstd_cmenu
		SET
		status = #{status}
		WHERE code = #{code}
	</update>
	
	<delete id="delete_cMenu" parameterType="cMenu" >
		DELETE FROM
		tstd_cmenu
		WHERE
		code = #{code}
	</delete>

</mapper>