<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bh.mall.dao.ICuserDAO">
<resultMap id="cuser_DB_Result" type="cuser">
		<result column="user_id" property="userId" />
		<result column="login_name" property="loginName" />
		<result column="mobile" property="mobile" />
		<result column="wx_id" property="wxId" />
		<result column="photo" property="photo" />
		
		<result column="nickname" property="nickname" />
		<result column="login_pwd" property="loginPwd" />
		<result column="login_pwd_strength" property="loginPwdStrength" />
		<result column="trade_pwd" property="tradePwd" />
		<result column="trade_pwd_strength" property="tradePwdStrength" />
		
		<result column="union_id" property="unionId" />
		
		<result column="h5_open_id" property="h5OpenId" />
		<result column="app_open_id" property="appOpenId" />
		<result column="create_datetime" property="createDatetime" />
		<result column="status" property="status" />
  	
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">			
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
			
			<if test="loginName != null and loginName != '' ">
				AND t.login_name = #{loginName}
			</if>
			<if test="loginNameForQuery != null and loginNameForQuery != '' ">
				AND t.login_name like "%"#{loginNameForQuery}"%"
			</if>
			<if test="nickname != null and nickname != '' ">
				AND t.nickname like "%"#{nickname}"%"
			</if>
			
			
			
			<if test="mobile != null and mobile != '' ">
				AND t.mobile = #{mobile}
			</if>
			<if test="mobileForQuery != null and mobileForQuery != '' ">
				AND t.mobile like "%"#{mobileForQuery}"%"
				</if>			
			
			<if test="loginPwd != null and loginPwd != '' ">
				AND t.login_pwd = #{loginPwd}
			</if>	
			
			<if test="unionId != null and unionId != '' ">
				AND t.union_id = #{unionId}
			</if>
			<if test="h5OpenId != null and h5OpenId != '' ">
				AND t.h5_open_id = #{h5OpenId}
			</if>
			<if test="appOpenId != null and appOpenId != '' ">
				AND t.app_open_id = #{appOpenId}
			</if>
			
			<if test="keyWord !=null and keyWord != '' ">
				AND t.real_name like "%"#{keyWord}"%" or t.nickname like "%"#{keyWord}"%" or t.wx_id like "%"#{keyWord}"%" 
					or t.mobile like "%"#{keyWord}"%" 
			</if>
		</trim>
	</sql>

	<select id="select_cuser" parameterType="cuser" resultMap="cuser_DB_Result">
		SELECT
		t.user_id
		,t.login_name
		,t.mobile
		,t.wx_id
		,t.photo
		
		,t.nickname
		,t.trade_pwd
		
		,t.union_id		
		,t.h5_open_id
		,t.app_open_id
		,t.create_datetime
		,t.status
		
		FROM
		tbh_cuser t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_cuser_count" parameterType="cuser" resultType="java.lang.Long">
		SELECT count(1) FROM tbh_cuser t 
		<include refid="where_condition"/>
	</select>
	
	<insert id="insert_cuser" parameterType="cuser">
		INSERT INTO
		tbh_cuser(
		user_id
		,login_name
		,mobile
		,wx_id
		,photo
		
		,nickname
		,login_pwd
		,login_pwd_strength
		,t.union_id	
		,t.h5_open_id
		,t.app_open_id
		,t.create_datetime
		,t.status

		)
		VALUES(
		#{userId}
		,#{loginName}
		,#{mobile}
		,#{wxId}
		,#{photo}
		
		,#{nickname}
		,#{loginPwd}
		,#{loginPwdStrength}
		
		,#{unionId}
		,#{h5OpenId}
		,#{appOpenId}
		
		,#{createDatetime}
		,#{status}
		)
	</insert>
	
	<update id="update_cuser" parameterType="cuser">
		UPDATE tbh_cuser
		SET
		login_name = #{loginName}
		,mobile = #{mobile}
		,wx_id = #{wxId}
		,photo = #{photo}
		,nickname = #{nickname}
		,login_pwd = #{loginPwd}
		,login_pwd_strength = #{loginPwdStrength}
		,union_id = #{unionId}
		,h5_open_id = #{h5OpenId}
		,app_open_id = #{appOpenId}
		,status = #{status}
		,create_datetime = #{createDatetime}
		WHERE user_id = #{userId}
	</update>
	
	<update id="update_login_pwd" parameterType="cuser">
		UPDATE tbh_cuser
		SET
		 login_pwd = #{loginPwd}
		,login_pwd_strength = #{loginPwdStrength}
		WHERE
		user_id = #{userId}	
	</update>	
	
	<update id="update_trade_pwd" parameterType="cuser">
		UPDATE tbh_cuser
		SET
		 trade_pwd = #{tradePwd}
		,trade_pwd_strength = #{tradePwdStrength}
		WHERE
		user_id = #{userId}	
	</update>
	
	<update id="update_cuser_loginName" parameterType="cuser">
		UPDATE tbh_cuser
		SET
		login_name = #{loginName}
		WHERE
		user_id = #{userId}	
	</update>
	
	<update id="update_cuser_nickname" parameterType="cuser">
		UPDATE tbh_cuser
		SET
		nickname = #{nickname}
		WHERE
		user_id = #{userId}	
	</update>
	
	<update id="update_cuser_photo" parameterType="cuser">
		UPDATE tbh_cuser
		SET
		photo = #{photo}
		WHERE user_id = #{userId}
	</update>
	
	<update id="update_mobile" parameterType="cuser">
		UPDATE tbh_cuser
		SET
		mobile = #{mobile}
		WHERE user_id = #{userId}
	</update>
	
	<update id="update_status" parameterType="cuser">
		UPDATE tbh_cuser
		SET
		status = #{status}
		WHERE user_id = #{userId}
	</update>
	
	
</mapper>