<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bh.mall.dao.IJsAwardDAO">
	<resultMap id="jsAward_DB_Result" type="jsAward">
		<result column="code" property="code" />
		<result column="level" property="level" />
		<result column="intro_level" property="introLevel" />
		<result column="percent" property="percent" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="level != null and level != '' ">
				AND t.level = #{level}
			</if>
			<if test="introLevel != null and introLevel != '' ">
				AND t.intro_level = #{introLevel}
			</if>
		</trim>
	</sql>
	<select id="select_jsAward" parameterType="jsAward" resultMap="jsAward_DB_Result">
		SELECT
		t.code
		,t.level
		,t.intro_level
		,t.percent
		,t.updater
		,t.update_datetime
		,t.remark
		FROM
		tbh_js_award t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_jsAward_count" parameterType="jsAward"
		resultType="java.lang.Long">
		SELECT count(1) FROM tbh_js_award t
		<include refid="where_condition" />
	</select>

	<insert id="insert_jsAward" parameterType="jsAward">
		INSERT INTO
		tbh_js_award(
		code
		,level
		,intro_level
		,percent
		,updater
		,update_datetime
		,remark
		)
		VALUES(
		#{code}
		,#{level}
		,#{introLevel}
		,#{percent}
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		)
	</insert>

	<update id="update_jsAward" parameterType="jsAward">
		UPDATE tbh_js_award
		SET
		level = #{level}
		,intro_level = #{introLevel}
		,percent = #{percent}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<delete id="delete_jsAward">
		DELETE FROM  
		tbh_js_award
		WHERE 
		code = #{code}
	</delete>


</mapper>