<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bh.mall.dao.IMaterialDAO">
	<resultMap id="material_DB_Result" type="material">
		<result column="code" property="code"/>
		<result column="type" property="type"/>
		<result column="title" property="title"/>
		<result column="pic" property="pic"/>
		<result column="order_no" property="orderNo"/>
		<result column="status" property="status"/>
		<result column="level_list" property="levelList"/>
	</resultMap>
	
	
	<sql id="where_condition">
		<trim prefix="where" prefixOverrides="AND | OR">
			<if test="code != null and code != ''">
			AND m.code=#{code}
			</if>
			<if test="levelList != null and levelList != ''">
			AND m.levelList=#{levelList}
			</if>
			<if test="title != null and title != ''">
			AND m.title=#{title}
			</if>
			<if test="status != null and status != ''">
			AND m.status=#{status}
			</if>
			<if test="type != null and type != ''">
			AND m.type=#{type}
			</if>
		</trim>
	</sql>
	
	<select id="select_material" parameterType="material" resultMap="material_DB_Result">
		SELECT 
			m.code,
			m.title,
			m.type,
			m.pic,
			m.order_no,
			m.status,
			m.level_list
		FROM tbh_material m
		<include refid="where_condition"/>
		<trim prefix="ORDER BY">
			<if test="order != null and order != '' ">
				${order}
			</if>
		</trim>
	</select>
	
	<select id="select_count" parameterType="material" resultType="java.lang.Long">
		SELECT count(1) FROM tbh_material
		<include refid="where_condition"/>
	</select>
	
	<delete id="delete_material" parameterType="material">
		DELETE FROM tbh_material WHERE code=#{code}
	</delete>
	
	<insert id="insert_material" parameterType="material">
		INSERT INTO tbh_material (
			code,
			type,
			title,
			pic,
			order_no,
			status,
			level_list
		) VALUES(
			#{code},
			#{type},
			#{title},
			#{pic},
			#{orderNo},
			#{status},
			#{levelList}
		)
	</insert>
	
	<update id="update_material" parameterType="material">
		UPDATE tbh_material SET
			type=#{type},
			title=#{title},
			pic=#{pic},
			order_no=#{orderNo},
			status=#{status},
			level_list=#{levelList}
		WHERE code=#{code}
	</update>
</mapper>