<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bh.mall.dao.IMiniCodeDAO">
	<resultMap id="miniCode_DB_Result" type="miniCode">
		<result column="mini_code" property="miniCode" />
		<result column="trace_code" property="traceCode" />
		<result column="ref_code" property="refCode" />
		
		<result column="status" property="status" />
		<result column="batch"  property="batch" />
		<result column="order_code" property="orderCode" />
		
		<result column="number" property="number" />
		<result column="create_datetime" property="createDatetime" />
		<result column="use_datetime" property="useDatetime" />
	</resultMap>
	
	<sql id="where_condition">
	
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<choose>
				<when test="miniCode != null and miniCode != '' ">
					AND t.mini_code = #{miniCode}
				</when>
				<when test="miniCodeForQuery != null and miniCodeForQuery != '' ">
					AND t.mini_code LIKE "%"#{miniCodeForQuery}"%"
				</when>
			</choose>
			
			<choose>
				<when test="traceCode != null and traceCode != '' ">
					AND t.trace_code = #{traceCode}
				</when>
				<when test="traceCodeForQuery != null and traceCodeForQuery != '' ">
					AND t.mini_code LIKE "%"#{traceCodeForQuery}"%"
				</when>
			</choose>
			
			<choose>
				<when test="refCode != null and refCode != '' ">
					AND t.ref_code = #{refCode}
				</when>
				<when test="refCodeForQuery != null and refCodeForQuery != '' ">
					AND t.ref_code LIKE "%"#{refCodeForQuery}"%"
				</when>
			</choose>
		
			<choose>
				<when test="status != null and status != '' ">
					AND t.status = #{status}
				</when>
				<when test="statusList != null and statusList.size() > 0 ">
					AND t.status IN
					<foreach collection="statusList" index="index"  item="item" open="(" separator=","  close=")" >
						#{item}
					</foreach>
				</when>
			</choose>
			
			<if test="orderCode != null and orderCode != '' ">
				AND t.order_code = #{orderCode}
			</if>
		</trim>
	</sql>
	
	<select id="select_miniCode" parameterType="miniCode" resultMap="miniCode_DB_Result">
		SELECT
		t.mini_code
		,t.trace_code
		,t.ref_code
		,t.order_code
		,t.status
		,t.batch
		,t.create_datetime
		,t.use_datetime
		FROM
		tbh_mini_code t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_code" parameterType="miniCode" resultMap="miniCode_DB_Result">
		SELECT
		t.mini_code
		,t.trace_code
		FROM
		tbh_mini_code t
		<include refid="where_condition" />
	</select>

	<select id="select_miniCode_count" parameterType="miniCode"
		resultType="java.lang.Long">
		SELECT count(1) FROM tbh_mini_code t
		<include refid="where_condition" />
	</select>

	<insert id="insert_miniCode" parameterType="miniCode">
		INSERT INTO
		tbh_mini_code(
		mini_code
		,trace_code
		,ref_code
		,status
		,batch
		,create_datetime
		)
		VALUES(
		#{miniCode}
		,#{traceCode}
		,#{refCode}
		,#{status}
		,#{batch}
		,#{createDatetime}
		)
	</insert>

	<update id="update_miniCode" parameterType="miniCode">
		UPDATE tbh_mini_code
		SET
		ref_code = #{refCode}
		,status = #{status}
		WHERE mini_code = #{miniCode}
	</update>
	
	<update id="update_status" parameterType="miniCode">
		UPDATE tbh_mini_code
		SET
		status = #{status}
		,order_code = #{orderCode}
		,use_datetime = #{useDatetime}
		WHERE mini_code = #{miniCode}
	</update>

	<update id="update_number" parameterType="miniCode">
		UPDATE tbh_mini_code
		SET 
		number = #{number}
		WHERE mini_code = #{miniCode}
	</update>

</mapper>