<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>		
		<typeAlias alias="user" type="com.bh.mall.domain.User" />
		<typeAlias alias="address" type="com.bh.mall.domain.Address" />
		<typeAlias alias="sysMenu" type="com.bh.mall.domain.SYSMenu" />
	    <typeAlias alias="sysRole" type="com.bh.mall.domain.SYSRole" />
 	    <typeAlias alias="sysMenuRole" type="com.bh.mall.domain.SYSMenuRole" />
 	    
 	    <typeAlias alias="userRelation" type="com.bh.mall.domain.UserRelation" />
 	    <typeAlias alias="cNavigate" type="com.bh.mall.domain.CNavigate" />
	    <typeAlias alias="sysDict" type="com.bh.mall.domain.SYSDict" />
	    <typeAlias alias="sysConfig" type="com.bh.mall.domain.SYSConfig" />
	    
	    <typeAlias alias="agent" type="com.bh.mall.domain.Agent"/>
	    <typeAlias alias="agentImpower" type="com.bh.mall.domain.AgentImpower"/>
	    <typeAlias alias="agentUpgrade" type="com.bh.mall.domain.AgentUpgrade"/>
	</typeAliases>
</configuration>	
