<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>		
		<typeAlias alias="bankCard" type="com.std.user.domain.BankCard" />
		<typeAlias alias="user" type="com.std.user.domain.User" />
		<typeAlias alias="sysMenu" type="com.std.user.domain.SYSMenu" />
	    <typeAlias alias="sysRole" type="com.std.user.domain.SYSRole" />
 	    <typeAlias alias="sysMenuRole" type="com.std.user.domain.SYSMenuRole" />
 	    
 	    <typeAlias alias="userRelation" type="com.std.user.domain.UserRelation" />
 	    <typeAlias alias="signLog" type="com.std.user.domain.SignLog" />
 	    <typeAlias alias="userExt" type="com.std.user.domain.UserExt" />
 	    <typeAlias alias="signLog" type="com.std.user.domain.SignLog" />
 	    <typeAlias alias="company" type="com.std.user.domain.Company" />
 	    
 	    <typeAlias alias="levelRule" type="com.std.user.domain.LevelRule" />
 	    <typeAlias alias="cMenu" type="com.std.user.domain.CMenu" />
 	    <typeAlias alias="accountJour" type="com.std.user.domain.AccountJour" />
 	    <typeAlias alias="cMaterial" type="com.std.user.domain.CMaterial" />
 	    <typeAlias alias="cIntention" type="com.std.user.domain.CIntention" />
 	    
 	    <typeAlias alias="cPassword" type="com.std.user.domain.CPassword" />
 	    <typeAlias alias="cBanner" type="com.std.user.domain.CBanner" />
 	    
 	    <typeAlias alias="b2cSms" type="com.std.user.domain.B2cSms" />
 	    <typeAlias alias="uRead" type="com.std.user.domain.URead" />
 	    
 	    <typeAlias alias="certificate" type="com.std.user.domain.Certificate" />
	</typeAliases>
</configuration>	
