<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bh.mall.dao.IProductSpecsDAO">
	<resultMap id="productSpecs_DB_Result" type="productSpecs">
		<result column="code" property="code"/>
		<result column="product_code" property="productCode"/>
		<result column="is_single" property="isSingle"/>
		<result column="single_number" property="singleNumber"/>
		<result column="ref_code" property="refCode"/>
		
		
		<result column="name" property="name"/>
		<result column="number" property="number"/>
		<result column="weight" property="weight"/>
		
		<result column="is_impower_order" property="isImpowerOrder"/>
		<result column="is_upgrade_order" property="isUpgradeOrder"/>
		<result column="is_normal_order" property="isNormalOrder"/>
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != ''">
				AND t.code = #{code}
			</if>
			<if test="productCode != null and productCode != ''">
				AND t.product_code = #{productCode}
			</if>
			<if test="name != null and name != ''">
				AND t.name like "%"#{name}"%"
			</if>
			<if test="isImpowerOrder != null and isImpowerOrder !=''">
				AND t.is_impower_order  = #{isImpowerOrder}
			</if>
			<if test="isUpgradeOrder != null and isUpgradeOrder !=''">
				AND t.is_upgrade_order  = #{isUpgradeOrder}
			</if>
			
			<if test="isNormalOrder != null and isNormalOrder !=''">
				AND t.is_normal_order  = #{isNormalOrder}
			</if>
			<if test="isSingle != null and isSingle !=''">
				AND t.is_single  = #{isSingle}
			</if>
			<if test="singleNumber != null and singleNumber !=''">
				AND t.single_number  = #{singleNumber}
			</if>
			<if test="refCode != null and refCode !=''">
				AND t.ref_code  = #{refCode}
			</if>
		</trim>
	</sql>
	
	<select id="select_productSpecs" parameterType="productSpecs" resultMap="productSpecs_DB_Result">
		SELECT 
		t.code
		,t.product_code
		,t.is_single
		,t.single_number
		,t.ref_code
		
		,t.name
		,t.number
		,t.weight
		
		,t.is_impower_order
		,t.is_upgrade_order
		,t.is_normal_order
		FROM tbh_product_specs t 
		<include refid="where_condition"/>
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				${order}
			</if>
		</trim>
	</select>
	
	<select id="select_productSpecs_count" parameterType="productSpecs" resultType="java.lang.Long">
		SELECT count(1) FROM tbh_product_specs t
		<include refid="where_condition"/>
	</select>
	
	<insert id="insert_productSpecs" parameterType="productSpecs">
		INSERT INTO tbh_product_specs(
		code
		,product_code
		,name
		,number
		,weight
		
		,is_impower_order
		,is_upgrade_order
		,is_normal_order
		)
		VALUES(
		#{code}
		,#{productCode}
		,#{name}
		,#{number}
		,#{weight}
		
		,#{isImpowerOrder}
		,#{isUpgradeOrder}
		,#{isNormalOrder}
		)
	</insert>
	
	<update id="update_productSpecs" parameterType="productSpecs">
		UPDATE tbh_product_specs
		SET 
		is_single = #{isSingle}
		,single_number = #{singleNumber}
		,ref_code = #{refCode}
		,name = #{name}
		,number = #{number}
		
		,weight = #{weight}
		,is_impower_order = #{isImpowerOrder}
		,is_upgrade_order = #{isUpgradeOrder}
		,is_normal_order = #{isNormalOrder}
		WHERE code=#{code}
	</update>
	
	<delete id="delete_byProductCode" parameterType="productSpecs">
		DELETE FROM 
		tbh_product_specs 
		WHERE
		product_code = #{productCode}
	</delete>
</mapper>