<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bh.mall.dao.ISjFormDAO">
	<resultMap type="sjForm" id="sjForm_DB_Result">
		<result column="user_id" property="userId" />
		<result column="real_name" property="realName" />
		<result column="id_kind" property="idKind" />		
		<result column="id_no" property="idNo" />
		<result column="id_hand" property="idHand" />
		
		<result column="team_name" property="teamName" />
		<result column="re_number" property="reNumber" />
		<result column="level" property="level" />
		<result column="apply_level" property="applyLevel" />
		<result column="to_user_id" property="toUserId"/>	
		
		<result column="pay_amount" property="payAmount" />
		<result column="pay_pdf" property="payPdf" />
		<result column="apply_datetime" property="applyDatetime" />
		<result column="approver" property="approver" />
		
		<result column="approve_name" property="approveName" />
		<result column="approve_datetime" property="approveDatetime" />
		<result column="status" property="status" />
		<result column="remark" property="remark" />
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="approver != null and approver != '' ">
				AND t.approver = #{approver}
			</if>
			
			<if test="applyLevel != null and applyLevel != '' ">
				AND t.apply_level = #{applyLevel}
			</if>
			<if test="toUserId != null and toUserId != '' ">
				AND t.to_user_id = #{toUserId}
			</if>
			<if test="level != null and level != '' ">
				AND t.level = #{level}
			</if>
					
			<if test="reNumber != null and reNumber != '' ">
				AND u.re_number = #{reNumber}
			</if>
			<if test="applyDatetimeStart != null and applyDatetimeStart != '' ">
				<![CDATA[AND t.apply_datetime >= #{applyDatetimeStart}]]>
			</if>
			<if test="applyDatetimeEnd != null and applyDatetimeEnd != '' ">
				<![CDATA[AND t.apply_datetime <= #{applyDatetimeEnd}]]>
			</if>
			
			<if test="approveDatetimeStart != null and approveDatetimeStart != '' ">
				<![CDATA[AND t.approve_datetime >= #{approveDatetimeStart}]]>
			</if>
			<if test="approveDatetimeEnd != null and approveDatetimeEnd != '' ">
				<![CDATA[AND t.approve_datetime <= #{approveDatetimeEnd}]]>
			</if>
			
		</trim>
	</sql>
	
	<select id="select_sjForm" parameterType="sjForm" resultMap="sjForm_DB_Result">
		SELECT
		t.user_id
		,t.real_name
		,t.id_kind
		,t.id_no	
		,t.id_hand
		
		,t.team_name
		,t.re_number
		,t.level
		,t.apply_level
		,t.to_user_id
			
		,t.pay_amount
		,t.pay_pdf
		,t.apply_datetime
		,t.approver
		
		,t.approve_name
		,t.approve_datetime
		,t.status	
		,t.remark
		FROM
		tbh_sj_form t 
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_sjForm_count" parameterType="sjForm"
		resultType="java.lang.Long">
		SELECT count(1) FROM tbh_sj_form t 
		<include refid="where_condition" />
	</select>

	<insert id="insert_sjForm" parameterType="sjForm">
		INSERT INTO
		tbh_sj_form(
		user_id
		,real_name
		,id_kind
		,id_no
		,id_hand
		
		,team_name
		,re_number
		,level
		,apply_level
		,to_user_id
			
	    ,pay_amount
		,pay_pdf
		,apply_datetime
		,approver
		
		,approve_name
		,approve_datetime
		,status
		,remark
		)
		VALUES(
		#{userId}
		,#{realName}
		,#{idKind}
		,#{idNo}
		,#{idHand}
		
		,#{teamName}
		,#{reNumber}
		,#{level}
		,#{applyLevel}	
        ,#{toUserId}
			
		,#{payAmount}
		,#{payPdf}
		,#{applyDatetime}
		,#{approver}
		
		,#{approveName}
		,#{approveDatetime}
		,#{status}
		,#{remark}
		)
	</insert>
	
	
	<!-- update payment / status -->
	<update id="update_sjForm" parameterType="sjForm">
	UPDATE tbh_sj_form
	SET
	real_name = #{realName}
	,status = #{status}
	,id_kind = #{idKind}
	,id_no = #{idNo}
	,id_hand = #{idHand}
	
	,team_name =#{teamName}
	,re_number = #{reNumber}
	,level = #{level}
	,apply_level = #{applyLevel}
	,pay_amount = #{payAmount}
	
	,pay_pdf = #{payPdf}
	,to_user_id = #{toUserId}
	,apply_datetime = #{applyDatetime}
	,approver = #{approver}
	,approve_name = #{approveName}
	
	,approve_datetime = #{approveDatetime}
	,remark = #{remark}
	WHERE user_id = #{userId}                       	
	</update>         
	
	<update id="approve_sjForm" parameterType="sjForm">
	UPDATE tbh_sj_form
	SET
	real_name = #{realName}
	,status = #{status}
	,approver = #{approver}
	,approve_name = #{approveName}
	
	,approve_datetime = #{approveDatetime}
	,remark = #{remark}
	WHERE user_id = #{userId}                       	
	</update>                                                                   	
	                                                    	
</mapper>                                               	
                                                        		
                                                        	
                                                        	
                                                        	
                                                        	