<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bh.mall.dao.ISqFormDAO">
	<resultMap id="sqForm_DB_Result" type="sqForm">
		<result column="code" property="code"/>
		<result column="wx_id" property="wxId"/>
		<result column="user_id" property="userId" />
		<result column ="to_user_id" property="toUserId"/>
		<result column="apply_level" property="applyLevel" />
		
		<result column="real_name" property="realName"/>
		<result column="address" property="address"/>
		<result column="area" property="area"/>
		<result column="mobile" property="mobile"/>
		<result column="city" property="city"/>
		<result column="province" property="province"/>
		
		<result column="id_front" property="idFront"/>
		<result column="id_behind" property="idBehind"/>
		<result column="id_hand" property="idHand"/>
		<result column="id_kind" property="idKind"/>
		<result column="id_no" property="idNo"/>
		
		<result column="introducer_mobile" property="introducerMobile"/>
		<result column="user_referee" property="userReferee"/>
				
		<result column ="status" property="status"/>
		<result column ="approver" property="approver"/>
		<result column ="apply_datetime" property="applyDatetime"/>		
		<result column="approve_datetime" property="approveDatetime" />		
		<result column="remark" property="remark"/>
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
		
			
			<if test="userId != null and userId != '' ">
				AND t.user_id= #{userId}
			</if>
			
			<if test="approver != null and approver != '' ">
				AND t.approver = #{approver}
			</if>
	
			<choose>
				<when test="status == '6,8' "> <!-- 待审核授权，申请取消授权 -->
					AND t.status = '6' OR t.status = '8' 
				</when>
				<when test="status != null and status != '' ">
					AND t.status = #{status}
				</when>
				<otherwise>
					AND 1=1
				</otherwise>
			</choose>
			

			<if test="applyLevel != null and applyLevel != '' ">
				AND t.apply_level = #{applyLevel}
			</if>
			<if test="applyDatetimeStart != null and applyDatetimeStart != '' ">
				<![CDATA[AND t.apply_datetime >= #{applyDatetimeStart}]]>
			</if>
			<if test="applyDatetimeEnd != null and applyDatetimeEnd != '' ">
				<![CDATA[AND t.apply_datetime <= #{applyDatetimeEnd}]]>
			</if>
			
			<if test="approveDatetimeStart != null and approveDatetimeStart != '' ">
				<![CDATA[AND t.approve_datetime >= #{approveDatetimeStart}]]>
			</if>
			<if test="approveDatetimeEnd != null and approveDatetimeEnd != '' ">
				<![CDATA[AND t.approve_datetime <= #{approveDatetimeEnd}]]>
			</if>
			
			
		</trim>
	</sql>
	
	<select id="select_sqForm" parameterType="sqForm" resultMap="sqForm_DB_Result">
		SELECT
		t.code
		,t.wx_id
		,t.user_id
		,t.apply_level
		
		,t.real_name
		,t.address
		,t.area
		,t.mobile
		,t.city
		,t.province
		
		,t.id_front
		,t.id_behind
		,t.id_hand
		,t.id_kind
		,t.id_no
		
		,t.introducer_mobile
		,t.user_referee
		
		,t.status
		,t.approver		
		,t.apply_datetime
		,t.approve_datetime
		,t.remark
		FROM
		tbh_sq_form t LEFT JOIN tbh_buser u ON t.user_id= u.user_id   
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_sqForm_count" parameterType="sqForm"
		resultType="java.lang.Long">
		SELECT count(1) FROM tbh_sq_form t LEFT JOIN tbh_buser u ON t.user_id= u.user_id   
		<include refid="where_condition" />
	</select>

	<insert id="insert_sqForm" parameterType="sqForm">
		INSERT INTO
		tbh_sq_form(
		t.code
		,wx_id
		,user_id
		,apply_level
		
		,real_name
		,address
		,area
		,mobile
		,city
		,province
		
		,id_front
		,id_behind
		,id_hand
		,id_kind
		,id_no
		
		,introducer_mobile
		,user_referee
		
		,status
		,approver		
		,apply_datetime
		,approve_datetime
		,remark
		)
		VALUES(
		#{code}
		,#{wxId}
        ,#{userId}
		,#{applyLevel}
		
		,#{ealName}
		,#{address}
		,#{area}
		,#{mobile}
		,#{city}
		,#{province}
		
		,#{idFront}
		,#{idBehind}
		,#{idHand}
		,#{idKind}
		,#{idNo}
		
		,#{introducerMobile}
		,#{userReferee}
				
		,#{status}
		,#{approver}
		,#{applyDatetime}
		,#{approveDatetime}
		,#{remark}
		)
	</insert>

	<!-- update payment / status -->
	<update id="update_sqForm" parameterType="sqForm">
		UPDATE tbh_sq_form
		SET
		user_id= #{userId}
		,apply_level = #{applyLevel}
        ,apply_datetime = #{applyDatetime}
		,status = #{status}
		,approver = #{approver}
		,approve_datetime = #{approveDatetime}
		WHERE code = #{code}
	</update>
	
	
</mapper>