<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bh.mall.dao.ISqFormDAO">
	<resultMap id="sqForm_DB_Result" type="sqForm">
		<result column="user_id" property="userId" />
		<result column="real_name" property="realName" />
		<result column="wx_id" property="wxId"/>
		<result column="mobile" property="mobile"/>
		
		<result column="id_kind" property="idKind"/>
		<result column="id_no" property="idNo"/>	
		<result column="id_hand" property="idHand"/>
		
		<result column="apply_level" property="applyLevel" />		
		<result column="to_user_id" property="toUserId"/>
		<result column="team_name" property="teamName" />
		<result column="introducer" property="introducer"/>
		<result column="referrer" property="referrer"/>
		
		<result column="province" property="province"/>
		<result column="city" property="city"/>
		<result column="area" property="area"/>
		<result column="address" property="address"/>
	
		<result column ="status" property="status"/>
		<result column ="apply_datetime" property="applyDatetime"/>		
		<result column ="approver" property="approver"/>
		<result column="approve_name" property="approveName" />
		<result column="approve_datetime" property="approveDatetime" />	
		<result column="impower_datetime" property="impowerDatetime" />			
		<result column="remark" property="remark"/>
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="userId != null and userId != '' ">
				AND t.user_id= #{userId}
			</if>
			<if test="toUserId != null and toUserId != '' ">
				AND t.to_user_id= #{toUserId}
			</if>
			
			<if test="approver != null and approver != '' ">
				AND t.approver = #{approver}
			</if>

			<if test="applyLevel != null and applyLevel != '' ">
				AND t.apply_level = #{applyLevel}
			</if>
			
			<if test="applyDatetimeStart != null and applyDatetimeStart != '' ">
				<![CDATA[AND t.apply_datetime >= #{applyDatetimeStart}]]>
			</if>
			<if test="applyDatetimeEnd != null and applyDatetimeEnd != '' ">
				<![CDATA[AND t.apply_datetime <= #{applyDatetimeEnd}]]>
			</if>
			
			<if test="approveDatetimeStart != null and approveDatetimeStart != '' ">
				<![CDATA[AND t.approve_datetime >= #{approveDatetimeStart}]]>
			</if>
			<if test="approveDatetimeEnd != null and approveDatetimeEnd != '' ">
				<![CDATA[AND t.approve_datetime <= #{approveDatetimeEnd}]]>
			</if>
			<if test="realName != null and realName != '' ">
				t.real_name like "%"#{realName}"%"
			</if>
			
		</trim>
	</sql>
	
	<select id="select_sqForm" parameterType="sqForm" resultMap="sqForm_DB_Result">
		SELECT
		t.user_id
		,t.real_name
		,t.wx_id
		,t.mobile
		,t.id_kind
		,t.id_no		
		,t.id_hand
		
		,t.apply_level	
		,t.to_user_id
		,t.introducer
		,t.referrer
		
		,t.province
		,t.city
		,t.area
		,t.address
		
		,t.status
		,t.apply_datetime
		,t.approver		
		,t.approve_name
		,t.approve_datetime
		,t.impower_datetime
		,t.remark
		FROM
		tbh_sq_form t 
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_sqForm_count" parameterType="sqForm"
		resultType="java.lang.Long">
		SELECT count(1) FROM tbh_sq_form t
		<include refid="where_condition" />
	</select>

	<insert id="insert_sqForm" parameterType="sqForm">
		INSERT INTO
		tbh_sq_form(
		user_id
		,real_name
		,wx_id
		,mobile
		,id_kind
		,id_no
		,id_hand
		
		,apply_level		
		,introducer
		,referrer
		
		
		,province
		,city
		,area
		,address
		,status
		
		)
		VALUES(
        #{userId}
		,#{realName}
		,#{wxId}
		,#{mobile}
		,#{idKind}
		,#{idNo}
		,#{idHand}
		
		,#{applyLevel}		
		,#{introducer}
		,#{referrer}
		
		
		,#{province}
		,#{city}
		,#{area}
		,#{address}
		,#{status}
		)
	</insert>

	<update id="update_sqForm" parameterType="sqForm">
		UPDATE tbh_sq_form
		SET		
		apply_level = #{applyLevel}
		,to_user_id = #{toUserId}
        ,apply_datetime = #{applyDatetime}
		,status = #{status}
		,approver = #{approver}
		,approve_datetime = #{approveDatetime}
		,impower_datetime = #{impowerDatetime}
		WHERE user_id= #{userId}
	</update>
	
	
	<update id="approve_sqForm" parameterType="sqForm">
		UPDATE tbh_sq_form
		SET		
		apply_level = #{applyLevel}
		,to_user_id = #{toUserId}
        ,apply_datetime = #{applyDatetime}
		,status = #{status}
		,approver = #{approver}
		,approve_datetime = #{approveDatetime}
		,impower_datetime = #{impowerDatetime}
		WHERE user_id= #{userId}
	</update>
	
	<update id="cancel_sqForm" parameterType="sqForm">
		UPDATE tbh_sq_form
		SET		
		status = #{status}
		,to_user_id = #{toUserId}
        ,apply_datetime = #{applyDatetime}
		,status = #{status}
		WHERE user_id= #{userId}
	</update>
	
	
</mapper>