<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bh.mall.dao.IWareLogDAO">
	<resultMap id="wareLog_DB_Result" type="wareLog">
		<result column="code" property="code" />
		<result column="ref_no" property="refNo" />
		<result column="ware_code" property="wareCode" />
		<result column="type" property="type" />
		<result column="product_code" property="productCode" />
		
		<result column="product_name" property="productName" />
		<result column="specs_code" property="specsCode" />
		<result column="specs_name" property="specsName" />
		<result column="tran_number" property="tranNumber" />
		<result column="before_number" property="beforeNumber" />
		
		<result column="after_number" property="afterNumber" />
		<result column="price" property="price" />
		<result column="amount" property="amount" />
		<result column="change_number" property="changeNumber" />
		<result column="change_price" property="changePrice" />
		<result column="change_amount" property="changeAmount" />
		
		<result column="status" property="status" />
		
		<result column="apply_user" property="applyUser" />
		<result column="real_name" property="realName" />
		<result column="apply_datetime" property="applyDatetime" />
		<result column="apply_note" property="applyNote" />
	
		<result column="approver" property="approver" />
		<result column="approve_datetime" property="approveDatetime" />
		<result column="approve_note" property="approveNote" />
		<result column="biz_type" property="bizType" />	
		<result column="biz_note" property="bizNote" />
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="type != null and type != '' ">
				AND t.type = #{type}
			</if>
			<if test="productCode != null and productCode != '' ">
				AND t.product_code = #{productCode}
			</if>
			<if test="specsCode != null and specsCode != '' ">
				AND t.specs_code = #{specsCode}
			</if>
			<if test="keyword != null and keyword != '' ">
				AND (t.product_name like "%"#{keyword}"%" or t.real_name like "%"#{keyword}"%")
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			
			<if test="startDatetime != null and startDatetime != ''">
				<![CDATA[AND t.apply_datetime >= #{startDatetime}]]>
			</if>
			<if test="endDatetime != null and endDatetime != ''">
				<![CDATA[AND t.apply_datetime <= #{endDatetime}]]>
			</if>
		</trim>
	</sql>
	<select id="select_wareLog" parameterType="wareLog" resultMap="wareLog_DB_Result">
		SELECT
		t.code
		,t.ref_no
		,t.ware_code
		,t.type
		,t.product_code
		
		,t.product_name
		,t.specs_code
		,t.specs_name
		,t.tran_number
		,t.before_number
		
		,t.after_number
		,t.price
		,t.amount
		,t.change_number
		,t.change_price
		,t.status
		
		,t.apply_user
		,t.real_name
		,t.apply_datetime
		,t.apply_note
		
		,t.approver
		,t.approve_datetime
		,t.approve_note
		,t.biz_type
		,t.biz_note
		FROM
		tbh_ware_log t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_wareLog_count" parameterType="wareLog"
		resultType="java.lang.Long">
		SELECT count(1) FROM tbh_ware_log t
		<include refid="where_condition" />
	</select>

	<insert id="insert_wareLog" parameterType="wareLog">
		INSERT INTO
		tbh_ware_log(
		code
		,ref_no
		,ware_code
		,type
		,product_code
		
		,product_name
		,specs_code
		,specs_name
		,tran_number
		,before_number
		
		,after_number
		,price
		,amount
		,change_number
		,change_price
		,status
		
		
		,apply_user
		,real_name
		,apply_datetime
		,apply_note
		
		,approver
		,approve_datetime
		,approve_note
		,biz_type
		,biz_note
		)
		VALUES(
		#{code}
		,#{refNo}
		,#{wareCode}
		,#{type}
		,#{productCode}
		
		,#{productName}
		,#{specsCode}
		,#{specsName}
		,#{tranNumber}
		,#{beforeNumber}
		
		,#{afterNumber}
		,#{price}
		,#{amount}
		,#{changeNumber}
		,#{changePrice}
		,#{status}
		
		,#{applyUser}
		,#{realName}
		,#{applyDatetime}
		,#{applyNote}
		
		,#{approver}
		,#{approveDatetime}
		,#{approveNote}
		,#{bizType}
		,#{bizNote}
		)
	</insert>

	<update id="update_wareLog" parameterType="wareLog">
		UPDATE tbh_ware_log
		SET
		ref_no = #{refNo}
		,ware_code = #{wareCode}
		,type = #{type}
		,product_code = #{productCode}
		,product_name = #{productName}
		,specs_code = #{specsCode}
		,specs_name = #{specsName}
		,price = #{price}
		,amount = #{amount}
		,change_number = #{changeNumber}
		,change_price = #{changePrice}
		,status = #{status}
		,apply_user = #{applyUser}
		,apply_datetime = #{applyDatetime}
		,apply_note = #{applyNote}
		,approver = #{approver}
		,approve_datetime = #{approveDatetime}
		,approve_note = #{approveNote}
		WHERE code = #{code}
	</update>

	<update id="update_Price" parameterType="wareLog">
		UPDATE tbh_ware_log
		SET
		price = #{price}
		,amount = #{amount}
		WHERE code = #{code}
	</update>


</mapper>