<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bh.mall.dao.IWareDAO">
	<resultMap id="ware_DB_Result" type="ware">
		<result column="code" property="code" />
		<result column="type" property="type" />
		<result column="currency" property="currency" />
		<result column="product_code" property="productCode" />
		<result column="product_name" property="productName" />
		
		<result column="specs_code" property="specsCode" />
		<result column="specs_name" property="specsName" />
		<result column="price" property="price" />
		<result column="quantity" property="quantity" />
		<result column="amount" property="amount" />
		
		<result column="user_id" property="userId" />
		<result column ="real_name" property="realName" />
		<result column="status" property="status" />
		<result column="create_datetime" property="createDatetime" />	
		<result column="last_change_code" property="lastChangeCode" />
		<result column="system_code" property="systemCode" />
		<result column="company_code" property="companyCode" />
		
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="keyword != null and keyword != '' ">
				AND (t.product_name like  "%"#{keyword}"%" or t.real_name  like  "%"#{keyword}"%")
			</if>
			<if test="specsCode != null and specsCode != '' ">
				AND t.specs_code = #{specsCode}
			</if>
			<if test="productCode != null and productCode != '' ">
				AND t.product_code = #{productCode}
			</if>
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
			<if test="status != null and status != '' ">
				AND p.status = #{status}
			</if>
		</trim>
	</sql>
	
	<select id="select_ware" parameterType="ware" resultMap="ware_DB_Result">
		SELECT
		t.code
		,t.type
		,t.amount
		,t.currency
		,t.product_code
		
		,t.product_name
		,t.specs_code
		,t.specs_name
		,t.price
		,t.quantity
		
		,t.user_id
		,t.real_name
		,t.status
		,t.create_datetime
		,t.last_change_code
		FROM
		tbh_ware t 
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_ware_count" parameterType="ware"
		resultType="java.lang.Long">
		SELECT count(1) FROM tbh_ware t 
		<include refid="where_condition" />
	</select>

	<insert id="insert_ware" parameterType="ware">
		INSERT INTO
		tbh_ware(
		code
		,type
		,currency
		,product_code
		,product_name
		
		,specs_code
		,specs_name
		,price
		,quantity
		
		,amount
		,user_id
		,real_name
		,status
		,create_datetime
		,last_change_code
		,system_code
		,company_code
		)
		VALUES(
		#{code}
		,#{type}
		,#{currency}
		,#{productCode}
		,#{productName}
		
		,#{specsCode}
		,#{specsName}
		,#{price}
		,#{quantity}
		,#{amount}
		
		,#{userId}
		,#{realName}
		,#{status}
		,#{createDatetime}
		,#{lastChangeCode}
		,#{systemCode}
		,#{companyCode}
		)
	</insert>

	<update id="update_quantity" parameterType="ware">
		UPDATE tbh_ware
		SET
		quantity = #{quantity}
		,amount = #{amount}
		,last_change_code = #{lastChangeCode}
		WHERE code = #{code}
	</update>

	<update id="update_logCode" parameterType="ware">
		UPDATE tbh_ware
		SET
		last_change_code = #{lastChangeCode}
		WHERE code = #{code}
	</update>
	
	<delete id="delete_ware" parameterType="ware">
		DELETE FROM 
		tbh_ware
		WHERE code = #{code}
	</delete>

	<update id="update_price" parameterType="ware">
		UPDATE tbh_ware
		SET
		price = #{price}
		,amount = #{amount}
		,last_change_code = #{lastChangeCode}
		WHERE code = #{code}
	</update>


</mapper>