<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bh.mall.dao.IYxFormDAO">
	<resultMap  id="agentAllot_DB_Result" type="agentAllot" >
		<result column="code" property="code"/>
		<result column="wx_id" property="wxId"/>
		<result column="user_id" property="userId" />
		<result column ="to_user_id" property="toUserId"/>
		<result column="apply_level" property="applyLevel" />
		<result column="real_name" property="realName"/>
		<result column="mobile" property="mobile"/>
		<result column="address" property="address"/>
		<result column="area" property="area"/>
		<result column="city" property="city"/>
		<result column="province" property="province"/>
		<result column="from_info" property="fromInfo"/>
		<result column ="status" property="status"/>
		<result column ="approver" property="approver"/>
		<result column ="apply_datetime" property="applyDatetime"/>		
		<result column="approve_datetime" property="approveDatetime" />		
		<result column="remark" property="remark"/>
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != ''">
				AND t.code=#{code}
			</if>
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
			
			<choose>				
				<when test="status == '3,4,5' "> <!--  有意愿，已忽略，已分配 -->
					AND t.status = '3' OR t.status = '4' OR t.status = '5' 
				</when> 
				<otherwise>
					AND 1=1
				</otherwise>
			</choose>
			
			<if test="toUserId != null and toUserId != '' ">
				AND t.to_user_id = #{toUserId}
			</if>
			
			<if test="applyDatetimeStart != null and applyDatetimeStart != '' ">
				<![CDATA[AND t.apply_datetime >= #{applyDatetimeStart}]]>
			</if>
			<if test="applyDatetimeEnd != null and applyDatetimeEnd != '' ">
				<![CDATA[AND t.apply_datetime <= #{applyDatetimeEnd}]]>
			</if>
			<if test="approveDatetimeStart != null and approveDatetimeStart != '' ">
				<![CDATA[AND t.approve_datetime >= #{approveDatetimeStart}]]>
			</if>
			<if test="approveDatetimeEnd != null and approveDatetimeEnd != '' ">
				<![CDATA[AND t.approve_datetime <= #{approveDatetimeEnd}]]>
			</if>
			
			<if test="approver != null and approver != '' ">
				AND t.approver = #{approver}
			</if>
						
		</trim>
	</sql>
	
	<select id="select_agentAllot" parameterType="agentAllot" resultMap="agentAllot_DB_Result">
		SELECT 
		t.code 
		,t.wx_id
		,t.user_id
		,t.to_user_id
		,t.apply_level
		,t.real_name
		,t.mobile
		,t.address
		,t.area
		,t.city
		,t.province
		,t.from_info
		,t.status
		,t.approver
		,t.apply_datetime		
		,t.approve_datetime
		,t.remark
		FROM tbh_yx_form t LEFT JOIN tbh_buser u ON t.user_id = u.user_id 
		<include refid="where_condition"/>
		<trim prefix="ORDER BY">
			<if test="order != null and order != '' ">
				${order}
			</if>
		</trim>
	</select>
	
	<select id="select_agentAllot_count" parameterType="agentAllot" resultType="java.lang.Long">
		SELECT count(1) FROM tbh_yx_form t LEFT JOIN tbh_buser u ON t.user_id = u.user_id 
		<include refid="where_condition"/>
	</select>
	
	<insert id="insert_agentAllot" parameterType="agentAllot">
		INSERT INTO
		tbh_yx_form(
		code
		,wx_id
		,user_id
		,to_user_id				
		,apply_level	
		,real_name	
		,mobile
		,address
		,area
		,city
		,province
		,from_info
		,status
		,approver
		,apply_datetime		
		,approve_datetime
		,remark
		)
		VALUES(
		#{code}
		,#{wxId}
		,#{userId}
		,#{toUserId}
		,#{applyLevel}	
		,#{realName}
		,#{mobile}
		,#{address}
		,#{area}
		,#{city}
		,#{province}
		,#{fromInfo}
		,#{status}
		,#{approver}
		,#{applyDatetime}
		,#{approveDatetime}
		,#{remark}
		)
	</insert>
	
	
	
	<update id="update_agentAllot" parameterType="agentAllot">
		UPDATE tbh_yx_form
		SET
		wx_id=#{wxId}
		,user_id = #{userId}
		,to_user_id=#{toUserId}		
		,apply_level = #{applyLevel}
		,real_name = #{realName}
		,address = #{address}
		,area = #{area}
		,city = #{city}
		,province = #{province}
		,from_info = #{fromInfo}
		,status=#{status}	
		,approver=#{approver}
		,apply_datetime=#{applyDatetime}
		,remark=#{remark}
		WHERE code=#{code}
	</update>
	
<!-- 意向分配已完成 -->



</mapper>