<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bh.mall.dao.IYxFormDAO">
	<resultMap  id="yxForm_DB_Result" type="yxForm" >
		<result column="user_id" property="userId" />
		<result column="wx_id" property="wxId"/>
		<result column ="to_user_id" property="toUserId"/>
		<result column="apply_level" property="applyLevel" />
		<result column="real_name" property="realName"/>
		<result column="mobile" property="mobile"/>
		
		<result column="province" property="province"/>
		<result column="city" property="city"/>
		<result column="area" property="area"/>
		<result column="address" property="address"/>
		
		<result column="from_info" property="fromInfo"/>
		<result column ="status" property="status"/>
				<result column ="apply_datetime" property="applyDatetime"/>	
		<result column ="approver" property="approver"/>
		<result column ="approve_name" property="approveName"/>
	
		
		<result column="approve_datetime" property="approveDatetime" />		
		<result column="remark" property="remark"/>
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			
			<if test="toUserId != null and toUserId != '' ">
				AND t.to_user_id = #{toUserId}
			</if>
			
			<if test="applyDatetimeStart != null and applyDatetimeStart != '' ">
				<![CDATA[AND t.apply_datetime >= #{applyDatetimeStart}]]>
			</if>
			<if test="applyDatetimeEnd != null and applyDatetimeEnd != '' ">
				<![CDATA[AND t.apply_datetime <= #{applyDatetimeEnd}]]>
			</if>
			<if test="approveDatetimeStart != null and approveDatetimeStart != '' ">
				<![CDATA[AND t.approve_datetime >= #{approveDatetimeStart}]]>
			</if>
			<if test="approveDatetimeEnd != null and approveDatetimeEnd != '' ">
				<![CDATA[AND t.approve_datetime <= #{approveDatetimeEnd}]]>
			</if>
			
			<if test="approver != null and approver != '' ">
				AND t.approver = #{approver}
			</if>
						
		</trim>
	</sql>
	
	<select id="select_yxForm" parameterType="yxForm" resultMap="yxForm_DB_Result">
		SELECT 
		t.user_id
		,t.wx_id
		,t.to_user_id
		,t.apply_level
		,t.real_name
		,t.mobile		
	
		,t.province
		,t.city
		,t.area
		,t.address
		

		,t.from_info
		,t.status
		,t.apply_datetime	
		,t.approver
		,t.approve_name
			
		,t.approve_datetime
		,t.remark
		FROM tbh_yx_form t 
		<include refid="where_condition"/>
		<trim prefix="ORDER BY">
			<if test="order != null and order != '' ">
				${order}
			</if>
		</trim>
	</select>
	
	<select id="select_yxForm_count" parameterType="yxForm" resultType="java.lang.Long">
		SELECT count(1) FROM tbh_yx_form t 
		<include refid="where_condition"/>
	</select>
	
	<insert id="insert_yxForm" parameterType="yxForm">
		INSERT INTO
		tbh_yx_form(
		user_id
		,wx_id
		,to_user_id	
		,apply_level
		,real_name	
		,mobile
		
		,province
		,city
		,area
		,address

		,from_info
		,status
		,apply_datetime	
		,approver
		,approve_name
			
		
		,approve_datetime
		,remark
		)
		VALUES(
		#{userId}
		,#{wxId}
		,#{toUserId}
		,#{applyLevel}	
		,#{realName}
		,#{mobile}
		
		,#{province}
		,#{city}
		,#{area}
		,#{address}
		,#{fromInfo}
		
		,#{status}
		,#{applyDatetime}
		,#{approver}
		,#{approveName}
	
		,#{approveDatetime}
		,#{remark}
		)
	</insert>
	
	
	
	<update id="update_yxForm" parameterType="yxForm">
		UPDATE tbh_yx_form
		SET
		real_name = #{realName}
		,wx_id = #{wxId}
		,mobile = #{mobile}

		,apply_level = #{applyLevel}	
		,to_user_id = #{toUserId}		
		,province = #{province}
		,city = #{city}
		,area = #{area}
		,address = #{address}
		,from_info = #{fromInfo}
		
		,apply_datetime = #{applyDatetime}
		,status = status = #{status}	
		,approver = #{approver}
		,approve_name = #{approveName}
		,remark=#{remark}
		WHERE user_id=#{userId}
	</update>
	
	
	<update id="update_status" parameterType="yxForm">
		UPDATE tbh_yx_form
		SET
		status = status = #{status}	
		,approver = #{approver}
		,approve_name = #{approveName}
		,remark=#{remark}
		WHERE user_id=#{userId}
	</update>


	<update id="allot_yxForm" parameterType="yxForm">
		UPDATE tbh_yx_form
		SET
		status = #{status}	
		,to_user_id = #{toUserId}
		,approver = #{approver}
		,approve_name = #{approveName}
		,remark=#{remark}
		WHERE user_id=#{userId}
	</update>
</mapper>